* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff5ee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    opacity: .9;
}

h2 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

/*Nav Section*/
nav {
    display: flex;
    justify-content: space-between;
    height: 69px;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #fff5ee;
}

nav ul {
    display:flex;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

nav img {
    height: 50px;
}

/*Mission Section*/
.mission-head {
    opacity: 1;
    width: 100%;
    padding: 5px 0;
    line-height: 2;
}

#mission {
    display: flex;
    background-image: url("../assets/images/img-mission-background.jpg");
    height: 700px;
    margin: 0 75px;
    text-align: center; 
    justify-content: center;
    align-items: center;
}